<header class=" col-md-12 col-sm-12 col-lg-12 col-xs-12">
    <nav>
        <ul class="nav nav-tabs  " id="myTab" role="tablist" Activatedroute="active">
            <li class="nav-item   pr-1">
                <a class="nav-link active " id="patient_form-tab" routerLink="/patientNote">Patient Note</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " id="examine_instructions-tab" routerLink="/examineInstruction">Examine Instructions</a>
            </li>

        </ul>

    </nav>

</header>